@font-face {
  font-family: OpenSans;
  src: url("fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: Banny-Bold;
  src: url("fonts/banny-cufonfonts/Banny-BoldRound.otf");
}
@font-face {
  font-family: Banny-Light;
  src: url("fonts/banny-cufonfonts/Banny-LightRound.otf");
}
@font-face {
  font-family: Banny-Round;
  src: url("fonts/banny-cufonfonts/Banny-Round.otf");
}
