@import "reset.min.css";
@import "fonts.scss";

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

%yellow-line-style {
  &:before {
    content: "";
    position: absolute;
    height: 5.11px;
    width: 50px;
    background: #e8c300;
    border-radius: 50px;
    bottom: 0;
    left: 49%;
  }

  &:after {
    content: "";
    position: absolute;
    height: 5.11px;
    width: 50px;
    background: #e8c300;
    border-radius: 50px;
    bottom: 0;
    right: 49%;
  }
}

$cont: 0 80px;

.wrapper {
  cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;

  .header {
    height: 100vh;
    background: url("../img/header-bg.svg") 50% / cover no-repeat;
    padding: $cont;
    overflow: auto;
    display: flex;
    flex-direction: column;

    &__top {
      &__nav {
        position: relative;
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center;
        z-index: 100;
        &__links {
          width: 45%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          a {
            width: 133px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            font-family: OpenSans, sans-serif;
            line-height: 18px;
            font-weight: 700;
            &:hover {
              color: #ffd600;
            }
          }
        }
        .img__container {
          width: 150px;
          height: 150px;
          margin: 0 2%;

          img {
            position: relative;
            top: 50px;
            -webkit-animation: fa-spin 30s infinite linear;
            animation: fa-spin 30s infinite linear;
          }
        }
      }
    }

    &__body {
      display: flex;
      flex: 1 0 auto;
      justify-content: space-between;
      overflow: hidden;

      .items {
        font-family: OpenSans, sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: white;

        &__container {
          flex: 1 0 auto;
          display: flex;
          align-items: center;

          &__swipe {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 60px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;

            &:before {
              content: "";
              position: absolute;
              width: 1px;
              height: calc(540px + 16 * ((100vw - 320px) / (1280 - 320)));
              background: rgba(255, 255, 255, 0.2);
              bottom: 59px;
              left: 50%;
            }

            &:after {
              content: "";
              position: absolute;
              width: 1px;
              height: 600%;
              background: rgba(255, 255, 255, 0.2);
              left: 50%;
              top: 59px;
            }

            &__btn {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 40px;
              width: 40px;
              background: white;
              border-radius: 50%;
              text-decoration: none;
              font-size: 21px;
              color: black;

              &:hover {
                background: #9b948bbf;
              }
            }
          }
        }
      }

      .left {
        display: flex;
        width: 16.8%;
        align-items: center;
        justify-content: start;
        text-align: center;

        &__rotate {
          writing-mode: vertical-lr;
          transform: rotate(180deg);
        }
      }

      .center {
        display: flex;
        flex-direction: column;
        padding-top: 235px;
        width: 66.4%;
        justify-content: center;
        align-items: center;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        p {
          line-height: 14px;
          letter-spacing: 10px;
          padding-left: 12px;
        }

        h1 {
          font-family: Banny-Bold, sans-serif;
          font-size: 96px;
          font-weight: 400;
          line-height: 134px;
          color: white;
          text-align: center;
        }

        &__line {
          position: relative;
          height: 5.11px;
          width: 60px;
          background: #e8c300;
          border-radius: 50px;
        }

        .btn-container {
          display: flex;
          margin: 30px 0 92px 0;

          &__btn-table {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 60px;
            background: #e8c300;
            border-radius: 5px;
            margin: 0 20px 0 0;
            text-decoration: none;
            color: white;

            &:hover {
              background: #e8af00;
            }
          }

          &__btn-explore {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 60px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 5px;
            margin: 0 0 0 20px;
            text-decoration: none;
            color: white;

            &:hover {
              background: #9991899e;
            }
          }
        }
      }

      .right {
        width: 16.8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .social-network {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 60px;
          width: 60px;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.2);
          text-decoration: none;
          font-size: 18px;
          color: white;
          margin: 10px 0;

          &:hover {
            background: #9991899e;
          }
        }
      }
    }
  }

  .main {
    overflow: hidden;

    .about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 80px;
      margin-bottom: 10px;
      @media (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      &__text {
        width: 50%;
        font-family: OpenSans, sans-serif;
        text-align: center;
        line-height: 30px;
        font-size: 17px;

        h1 {
          position: relative;
          font-size: 36px;
          font-family: Banny-Bold, sans-serif;
          text-align: center;
          line-height: 60px;
          @extend %yellow-line-style;
        }

        h3 {
          padding-top: 20px;
        }

        p {
          font-family: "Times New Roman", sans-serif;
          padding-top: 20px;
        }
      }

      &__image {
        flex: 0 1 auto;
        position: relative;
        padding: 25px;

        img {
          width: 80%;
          height: 80%;
          z-index: 10;
          object-fit: cover;
          border-radius: 5px;
        }

        &:after {
          content: "";
          position: absolute;
          width: 250px;
          height: 250px;
          bottom: 30%;
          left: 48%;
          border: 20px solid #e8c300;
        }
      }
    }

    .team {
      background: url("../img/specialtys-bg.jpg") 50% / cover no-repeat;
    }

    .specialties {
      background: url("../img/specialty's-bg.jpg") 50% / cover no-repeat;
    }

    .events {
      background: url("../img/specialty's-bg.jpg") 50% / cover no-repeat;
    }

    .form {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 80px;

      &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background: #9c9c9c;
        opacity: 40%;
      }

      &__line {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          background: #9c9c9c;
          opacity: 40%;
          left: 15%;
          z-index: 10;
        }

        &:after {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          background: #9c9c9c;
          opacity: 40%;
          top: 0;
          left: 85%;
          z-index: 10;
        }
      }

      &__title {
        font-weight: 700;
        font-family: OpenSans, sans-serif;
        letter-spacing: 10px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        h4 {
          padding-left: 10px;
        }
      }

      &__container {
        width: 100%;
        position: relative;
        z-index: 100;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__image {
          width: 600px;
          margin-right: 40px;
          display: flex;
          justify-content: flex-end;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            width: 250px;
            height: 250px;
            bottom: 25%;
            left: 0;
            border: 20px solid #e8c300;
            z-index: 20;
          }

          img {
            position: relative;
            z-index: 10;
            object-fit: cover;
            border-radius: 5px;
            filter: drop-shadow(0px 0px 50px #000000);
          }
        }

        &__text {
          width: 600px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 17px;
          font-family: OpenSans, sans-serif;
          color: white;
          margin-left: 40px;

          h1 {
            position: relative;
            font-size: 42px;
            font-family: Banny-Bold, sans-serif;
            text-align: center;
            line-height: 70px;
            @extend %yellow-line-style;
          }

          h3 {
            padding: 20px 0 0 0;
          }

          p {
            padding-top: 20px;
            font-family: "Times New Roman", sans-serif;
          }
        }

        &__image-left {
          display: flex;
          justify-content: center;
          position: relative;
          margin-right: 40px;

          &:after {
            content: "WEDDINGS";
            writing-mode: vertical-rl;
            font-family: Banny-Bold, sans-serif;
            font-size: 24px;
            text-align: left;
            padding: 20px 20px;
            color: white;
            position: absolute;
            width: 80px;
            height: 100%;
            background: black;
            right: 0px;
          }

          &:before {
            content: "";
            position: absolute;
            width: 250px;
            height: 250px;
            bottom: 25%;
            left: -27%;
            border: 20px solid #e8c300;
            z-index: 20;
          }
        }

        &__image-right {
          display: flex;
          justify-content: center;
          position: relative;
          margin-left: 40px;

          &:after {
            content: "CORPORATE PZRTIES";
            writing-mode: vertical-lr;
            font-family: Banny-Bold, sans-serif;
            font-size: 24px;
            text-align: left;
            transform: rotate(180deg);
            padding: 20px 20px;
            color: white;
            position: absolute;
            width: 80px;
            height: 100%;
            background: black;
            left: 0;
          }

          &:before {
            content: "";
            position: absolute;
            width: 250px;
            height: 250px;
            bottom: 25%;
            left: 73%;
            border: 20px solid #e8c300;
            z-index: 20;
          }
        }
      }

      &__footer {
        height: 100px;
        width: 100%;
      }
    }

    .book {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding: 100px 80px;
      @media (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      &__text {
        width: 50%;
        font-family: OpenSans, sans-serif;
        text-align: center;
        line-height: 30px;
        font-size: 21px;
        position: relative;
        @media (max-width: 1200px) {
          flex: 0 0 100%;
        }

        &__title {
          width: 100%;
          position: relative;

          h1 {
            position: relative;
            font-size: 36px;
            font-family: Banny-Bold, sans-serif;
            text-align: center;
            line-height: 60px;
            padding: 0 40px;
          }

          @extend %yellow-line-style;
        }

        &__form-group {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          margin: 20px 0;
          padding: 0 40px;

          &__item {
            width: 48%;
            height: 60px;
            border-radius: 5px;
            border: 0;
            background: #e5e5e5;
            padding-left: 20px;
            font-size: 16px;
            margin-bottom: 10px;
          }

          .now {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
            width: 98%;
            height: 60px;
            background: #e8c300;
            border-radius: 5px;
            font-family: OpenSans, sans-serif;
            font-size: 14px;
          }
        }
      }

      &__image {
        position: relative;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        @media (max-width: 1200px) {
          flex: 0 0 100%;
        }

        img {
          position: relative;
          object-fit: cover;
          border-radius: 5px;
          filter: drop-shadow(0px 0px 50px #000000);
        }

        &:after {
          content: "";
          position: absolute;
          width: 250px;
          height: 250px;
          bottom: 26%;
          left: 62%;
          border: 20px solid #e8c300;
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 100px 80px;

      &__title {
        text-align: center;
        padding: 0 350px;

        h1 {
          position: relative;
          font-size: 36px;
          font-family: Banny-Bold, sans-serif;
          text-align: center;
          line-height: 60px;
          padding-bottom: 10px;
          @extend %yellow-line-style;
        }

        h3 {
          padding: 20px 40px;
          font-family: OpenSans, sans-serif;
          font-size: 18px;
        }
      }

      &__items {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;

        &__item {
          font-family: "OpenSans";
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 50px;
          border-right: 1px solid rgba(51, 51, 51, 0.2);
          font-size: 12px;
        }
      }

      &__price {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: Banny-Bold, sans-serif;
        padding: 50px 0 0 0;

        &__position {
          display: flex;
          flex-wrap: wrap;
          flex: 1 1 auto;
          padding: 10px 0 0 120px;
          width: 26.333%;
          font-size: 17px;

          p {
            font-family: OpenSans, sans-serif;
            font-size: 12px;
            color: #9c9c9c;
            margin: -5px 0 0 0;
          }

          &:nth-child(6n - 3) {
            background: #d6d6d6;
          }

          &:nth-child(6n - 4) {
            background: #d6d6d6;
          }

          &:nth-child(6n - 5) {
            background: #d6d6d6;
          }
        }
      }
    }

    .galerie {
      display: flex;
      flex-wrap: wrap;

      &__section {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;

        img {
          flex: 1 1 auto;
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 100px 80px 0 80px;
      font-family: OpenSans, sans-serif;

      &__title {
        text-align: center;
        padding: 0 350px;

        h1 {
          position: relative;
          font-size: 36px;
          font-family: Banny-Bold, sans-serif;
          text-align: center;
          line-height: 60px;
          padding-bottom: 10px;
          @extend %yellow-line-style;
        }

        h3 {
          padding: 20px 40px;
          font-family: OpenSans, sans-serif;
          font-size: 18px;
        }
      }

      &__body {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0 0 0;

        &__items {
          width: 33.333%;
          padding: 0 11px 0 0;
          height: 60px;

          input {
            width: 100%;
            background: #e5e5e5;
            height: 60px;
            padding: 0 0 0 15px;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
          }

          &:nth-child(3) {
            padding: 0;
          }
        }

        &__message {
          width: 100%;
          padding: 11px 0 0 0;
          height: 120px;
          display: flex;

          input {
            width: 100%;
            height: 100%;
            background: #e5e5e5;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
            padding: 0 0 0 15px;
          }
        }

        &__contacts {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 50%;
          padding: 11px 0 0 0;

          span {
            color: #9c9c9c;
            padding: 10px 50px 10px 0;
            line-height: 100%;
            display: flex;
            align-items: center;

            &:before {
              padding-right: 5px;
              color: #e8c300;
            }
          }
        }

        &__btn-send {
          margin: 11px 0 0 0;
          width: 50%;
          height: 60px;
          text-decoration: none;
          color: white;
          background: #e8c300;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background: #e8af00;
          }
        }
      }

      &__footer {
        height: 100px;
      }
    }

    .map {
      height: 475px;

      a {
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
  }

  .footer {
    height: 100px;
    background: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.5);
    font-family: OpenSans, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @import "media";
}
